<div>
    <h2 id="page-heading">
        <span jhiTranslate="smartcommunityApp.vote.home.title">Votes</span>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="votes?.length === 0">
        <span jhiTranslate="smartcommunityApp.vote.home.notFound">No votes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="votes && votes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="creationDate"><span jhiTranslate="smartcommunityApp.vote.creationDate">Creation Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userLogin"><span jhiTranslate="smartcommunityApp.vote.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="choiceChoice"><span jhiTranslate="smartcommunityApp.vote.choice">Choice</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let vote of votes ;trackBy: trackId">
                    <td><a [routerLink]="['/vote', vote.id, 'view']">{{ vote.id }}</a></td>
                    <td>{{ vote.creationDate | date:'medium' }}</td>
                    <td>
                        {{ vote.userLogin }}
                    </td>
                    <td>
                        <div *ngIf="vote.choiceId">
                            <a [routerLink]="['/poll-choice', vote.choiceId , 'view']" >{{ vote.choiceChoice }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/vote', vote.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="votes && votes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
