<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="poll">
            <h2><span jhiTranslate="smartcommunityApp.poll.detail.title">Poll</span> {{ poll.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="smartcommunityApp.poll.question">Question</span></dt>
                <dd>
                    <span>{{ poll.question }}</span>
                </dd>
                <dt><span jhiTranslate="smartcommunityApp.poll.active">Active</span></dt>
                <dd>
                    <fa-icon *ngIf="poll.active" icon="check"></fa-icon>
                    <fa-icon *ngIf="!poll.active" icon="times"></fa-icon>
                </dd>
                <dt><span jhiTranslate="smartcommunityApp.poll.createdBy">Created By</span></dt>
                <dd>
                    <span>{{ poll.createdBy }}</span>
                </dd>
                <dt><span jhiTranslate="smartcommunityApp.poll.creationDate">Creation Date</span></dt>
                <dd>
                    <span>{{ poll.creationDate }}</span>
                </dd>
                <dt><span jhiTranslate="smartcommunityApp.poll.users">Users</span></dt>
                <dd>
                    <span *ngFor="let users of poll.users; let last = last">
                        {{ users.login }}{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>
        </div>

        <div class="table-responsive" id="entities" *ngIf="pollChoices && pollChoices.length > 0">
            <table class="table table-striped" aria-describedby="page-heading">
                <thead>
                    <tr>
                        <th scope="col"><span jhiTranslate="smartcommunityApp.pollChoice.choice">Choice</span> <fa-icon icon="sort"></fa-icon></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pollChoice of pollChoices">
                        <td>{{ pollChoice.choice }}</td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button type="submit"
                                        [routerLink]="['/poll-choice', pollChoice.id, 'view']"
                                        class="btn btn-info btn-sm">
                                    <fa-icon icon="eye"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                </button>
    
                                <button type="submit"
                                        [routerLink]="['/poll-choice', pollChoice.id, 'edit']"
                                        class="btn btn-primary btn-sm">
                                    <fa-icon icon="pencil-alt"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                </button>
    
                                <button type="submit" (click)="deleteChoice(pollChoice)"
                                        class="btn btn-danger btn-sm">
                                    <fa-icon icon="times"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
