<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="poll">
            <h2><span jhiTranslate="smartcommunityApp.poll.detail.title">Poll</span> {{ poll.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="smartcommunityApp.poll.question">Question</span></dt>
                <dd>
                    <span>{{ poll.question }}</span>
                </dd>
                <dt><span jhiTranslate="smartcommunityApp.poll.active">Active</span></dt>
                <dd>
                    <fa-icon *ngIf="poll.active" icon="check"></fa-icon>
                    <fa-icon *ngIf="!poll.active" icon="times"></fa-icon>
                </dd>
                <dt><span jhiTranslate="smartcommunityApp.poll.createdBy">Created By</span></dt>
                <dd>
                    <span>{{ poll.createdBy }}</span>
                </dd>
                <dt><span jhiTranslate="smartcommunityApp.poll.creationDate">Creation Date</span></dt>
                <dd>
                    <span>{{ poll.creationDate }}</span>
                </dd>
                <dt><span jhiTranslate="smartcommunityApp.poll.users">Users</span></dt>
                <dd>
                    <span *ngFor="let users of poll.users; let last = last">
                        {{ users.login }}{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/poll', poll.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
