<div>
    <h2 id="page-heading">
        <span jhiTranslate="smartcommunityApp.needOrder.home.title">Need Orders</span>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="needOrders?.length === 0">
        <span jhiTranslate="smartcommunityApp.needOrder.home.notFound">No needOrders found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="needOrders && needOrders.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quantity"><span jhiTranslate="smartcommunityApp.needOrder.quantity">Quantity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="note"><span jhiTranslate="smartcommunityApp.needOrder.note">Note</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userLogin"><span jhiTranslate="smartcommunityApp.needOrder.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="needName"><span jhiTranslate="smartcommunityApp.needOrder.need">Need</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let needOrder of needOrders ;trackBy: trackId">
                    <td><a [routerLink]="['/need-order', needOrder.id, 'view']">{{ needOrder.id }}</a></td>
                    <td>{{ needOrder.quantity }}</td>
                    <td>{{ needOrder.note }}</td>
                    <td>
                        {{ needOrder.userLogin }}
                    </td>
                    <td>
                        <div *ngIf="needOrder.needId">
                            <a [routerLink]="['/need', needOrder.needId , 'view']" >{{ needOrder.needName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/need-order', needOrder.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="needOrders && needOrders.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
