<div class="row">
    <div class="col">
        <div [ngSwitch]="isAuthenticated()">
            <div class="container-fluid" *ngSwitchCase="true">
                <div class="row">
                    <div class="col">
                        <div class="grid-item">
                            <button type="button" routerLink="announcement" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }" class="btn btn-outline-primary btn-lg">
                                <fa-icon icon="bullhorn" [fixedWidth]="true"></fa-icon>
                                <span jhiTranslate="global.menu.entities.announcement">Announcement</span>
                            </button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="grid-item">
                            <button type="button" routerLink="feedback" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }" class="btn btn-outline-primary btn-lg">
                                <fa-icon icon="comment-dots" [fixedWidth]="true"></fa-icon>
                                <span jhiTranslate="global.menu.entities.feedback">Feedback</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="grid-item">
                            <button type="button" routerLink="need" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }" class="btn btn-outline-primary btn-lg">
                                <fa-icon icon="clipboard-list" [fixedWidth]="true"></fa-icon>
                                <span jhiTranslate="global.menu.entities.need">Need</span>
                            </button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="grid-item">
                            <button type="button" routerLink="need-order" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }" class="btn btn-outline-primary btn-lg">
                                <fa-icon icon="address-card" [fixedWidth]="true"></fa-icon>
                                <span jhiTranslate="global.menu.entities.needOrder">Need Order</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="grid-item">
                            <button type="button" routerLink="donation-request" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }" class="btn btn-outline-primary btn-lg">
                                <fa-icon icon="hand-holding-usd" [fixedWidth]="true"></fa-icon>
                                <span jhiTranslate="global.menu.entities.donationRequest">Donation Request</span>
                            </button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="grid-item">
                            <button type="button" routerLink="donation" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }" class="btn btn-outline-primary btn-lg">
                                <fa-icon icon="money-bill-wave" [fixedWidth]="true"></fa-icon>
                                <span jhiTranslate="global.menu.entities.donation">Donation</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="grid-item">
                            <button type="button" routerLink="poll" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }" class="btn btn-outline-primary btn-lg">
                                <fa-icon icon="poll" [fixedWidth]="true"></fa-icon>
                                <span jhiTranslate="global.menu.entities.poll">Poll</span>
                            </button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="grid-item">
                            <button type="button" routerLink="vote" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }" class="btn btn-outline-primary btn-lg">
                                <fa-icon icon="vote-yea" [fixedWidth]="true"></fa-icon>
                                <span jhiTranslate="global.menu.entities.vote">Vote</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign
                    in</a>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a
                    new account</a>
            </div>
        </div>
    </div>
</div>
