<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pollChoice">
            <h2><span jhiTranslate="smartcommunityApp.pollChoice.detail.title">Poll Choice</span> {{ pollChoice.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="smartcommunityApp.pollChoice.choice">Choice</span></dt>
                <dd>
                    <span>{{ pollChoice.choice }}</span>
                </dd>
                <dt><span jhiTranslate="smartcommunityApp.pollChoice.poll">Poll</span></dt>
                <dd>
                    <div *ngIf="pollChoice.pollId">
                        <a [routerLink]="['/poll', pollChoice.pollId, 'view']">{{ pollChoice.pollQuestion }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/poll-choice', pollChoice.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
